@page "/consutaAportes"
@inject AportesBLL aportesBLL

<EditForm Model="consutaAportes">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header text-center">
            <h3>Consulta Registros</h3>

        </div>

        <div class="card-body">
            <form>
                <div class="form-group text-center">

                   <button type="button" class="bi bi-person-workspace btn btn-lg btn-info" @onclick="Buscar"> Buscar</button>

                </div>

            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="card-from text-center">
                    <th>hasta</th>
                    <th>Desde</th>
                </tr>
               
                <tr class="table-info">
                    <th>RegistroId</th>
                    <th>Persona</th>
                    <th>Monto</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Aportes aportes in ListaAportes)
                {
                    <tr>
                        <td>@aportes.AporteId</td>
                        <td>@aportes.Persona</td>
                        <td>@aportes.Monto</td>
                        <td><a href="aportes/@aportes.AporteId">Ver</a></td>
                    </tr>
                }
                
                @foreach (Aportes aportes in ListaAportes)
                {
                    <tr>
                        <td>@aportes.Fecha</td>
                        <td>@aportes.Fecha</td>
                    </tr>
                }
             
                <tr class="card-from text-center">
                    <th>Conteo</th>
                    <th>Total</th>
                </tr>

                @foreach (Aportes aportes in ListaAportes)
                {
                    <tr>
                        <td>@aportes.Monto</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</EditForm>

@code {
    public Aportes consutaAportes { set; get; } = new Aportes();
    public List<Aportes> ListaAportes { get; set; } = new List<Aportes>();
    public void Buscar()
    {
        ListaAportes = aportesBLL.GetAportes(o => true);
    }

}
